{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="highlights-feed">
{% for h in highlights %}
<div class="row">
	<div class="span5">
		<h5 class="h-date"><span>{{ h.date_created|date }}</span></h5>
		<div class="h-date"></div>
		<div class="highlight bigness-{{h.bigness}}">
		<p class="{{ colores|random }}">
		{% autoescape off %}
		{% with h.text.split as desc %}
		<span class="first-word">{{ desc|slice:":1"|join:" " }}</span> {{ desc|slice:"1:"|join:" " }}<a href="emotion/{{h.emotion}}"><span class="emotion emotion-{{h.emotion}}">:)</span></a>
		{% endwith %}
		{% endautoescape %}
		</p>
		</div>
		
	</div>
</div>
{% endfor %}
</div>
{% endblock %}